In [1]:
# Dependencies
import pandas as pd

## Citi Bike 2023 Monthly Total Rides

In [2]:
# Create separate variable for counting monthly rides
column_counts = []

# Specify the target column
target_column = 'ride_id'

for i in range(1,12):
    file_name = f'resource/citi2023_{i}.csv'
    df = pd.read_csv(file_name)
    
    column_count = df[target_column].count()
    
    column_counts.append(column_count)

# Create a new DataFrame for future graphing purpose
result2023_df = pd.DataFrame({
    'Period': [f'citi2023_{i}' for i in range(1, 12)],
    'total_montly_ride_counts': column_counts
})

In [3]:
# Print the 2023 Citi Bike DataFrame
result2023_df.head()

       Period  total_montly_ride_counts
0  citi2023_1                     56075
1  citi2023_2                     51213
2  citi2023_3                     63072
3  citi2023_4                     80688
4  citi2023_5                     96002

## Citi Bike 2022 Monthly Total Rides

In [4]:
# Create separate variable for counting monthly rides
column_counts = []

# Specify the target column
target_column = 'ride_id'

for i in range(1,13):
    file_name = f'resource/citi2022_{i}.csv'
    df = pd.read_csv(file_name)
    
    column_count = df[target_column].count()
    
    column_counts.append(column_count)

# Create a new DataFrame for future graphing purpose
result2022_df = pd.DataFrame({
    'Period': [f'citi2022_{i}' for i in range(1, 13)],
    'total_montly_ride_counts': column_counts
})

In [5]:
# Print the 2022 Citi Bike DataFrame
result2022_df.head()

       Period  total_montly_ride_counts
0  citi2022_1                     26762
1  citi2022_2                     31911
2  citi2022_3                     51671
3  citi2022_4                     62528
4  citi2022_5                     80482

## Citi Bike 2021 Monthly Total Rides (from Feb to Dec)

In [6]:
# Create separate variable for counting monthly rides
column_counts = []

# Specify the target column
target_column = 'ride_id'

for i in range(2,13):
    file_name = f'resource/citi2021_{i}.csv'
    df = pd.read_csv(file_name)
    
    column_count = df[target_column].count()
    
    column_counts.append(column_count)

# Create a new DataFrame for future graphing purpose
result2021_df = pd.DataFrame({
    'Period': [f'citi2021_{i}' for i in range(2, 13)],
    'total_montly_ride_counts': column_counts
})

In [7]:
# Print the 2021 (Feb-Dec) Citi Bike DataFrame
result2021_df.head()

       Period  total_montly_ride_counts
0  citi2021_2                      4881
1  citi2021_3                     17123
2  citi2021_4                     23774
3  citi2021_5                     45043
4  citi2021_6                     71442

In [8]:
# Loading 2021 Citi Bike January trip data
data = pd.read_csv("resource/citi2021_1.csv")
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [9]:
# Check the number of rows
len(data)

11624

In [10]:
# Drop any rows which have missing information
result_2021 = data.dropna()

In [11]:
# Check the number of rows again
len(result_2021)

11624

In [12]:
# New row data (2021 Jan)
new_row = {'Period': 'citi2021_1', 'total_montly_ride_counts': 11624}

# Add the 2021 Jan data to the existing DataFrame
result2021_df.loc[-1] = new_row
result2021_df.index = result2021_df.index + 1
result2021_df = result2021_df.sort_index()

In [13]:
# Print the full 2021 Citi Bike DataFrame
result2021_df.head()

       Period  total_montly_ride_counts
0  citi2021_1                     11624
1  citi2021_2                      4881
2  citi2021_3                     17123
3  citi2021_4                     23774
4  citi2021_5                     45043

In [14]:
# Merge dataframe from 2021 to 2023
full_biketrip_df = pd.concat([result2021_df, result2022_df, result2023_df]).reset_index(drop=True)

In [15]:
# Print the final trip data
full_biketrip_df.tail()

         Period  total_montly_ride_counts
30   citi2023_7                    106608
31   citi2023_8                    112027
32   citi2023_9                     94233
33  citi2023_10                     97584
34  citi2023_11                     75646

In [16]:
# Write the DataFrame to a CSV file
full_biketrip_df.to_csv("output/full_monthly_ride_counts.csv", index=False)